# Node dependencies
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Firebase local config
.firebase/

# Environment files
.env
*.env

# JetBrains
.idea/
